page-home {
  ion-content{
    background-image: url('../assets/imgs/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
  }

  .scroll-content {
    overflow-y: auto;
  }

  .overlay {
    padding: 15px;
    background-color: #000000;
    opacity: 0.5;
    flex-direction: column;
    align-items: center;
  }

  .input-label {
    color: #ffffff;
  }
  input[type="text"] {
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.5;
    border:none;
  }

  .forecast {
    margin-top: 10%;
    align-items: center;


    ion-slide{
      margin-bottom: 15%;
    }
  }

  .forecastDayInformations {
    margin-top: 20%;
    box-shadow: 0 0 20px 1px #212145;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .forecast-buttons {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ion-icon{
      font-size: 3em;
      color: #212145;
      vertical-align: top;
    }

    .button-outline-md{
      border-color: #212145;
      color: #212145;
    }
  }

  .bigText {
    flex: 2;
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    color: #212145;
  }

  .mainText {
    flex: 1;
    font-size: 1em;
    text-align: center;
    color: #212145;
  }

  .smallText {
    font-size:0.75em;
  }

  .icon {
    margin-left: 50px;
    height: 50px;
    width: 50px;
  }

}
