<!--
<ion-header>
  <ion-navbar>
    <ion-title>
      Votre Météo du jour
    </ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-content padding>
  <div text-center class="overlay">
    <label class="item-input">
      <span class="input-label city">Ville :</span>
      <input type="text" (focus)="typping()" placeholder="Paris,fr" [(ngModel)]="search"/>
    </label>
  </div>
  <div text-center class="forecast-buttons">
    <ion-icon name="locate" (click)="loadWeatherByPosition()"></ion-icon>
    <button ion-button round outline color="darkBlue" (click)="loadWeather(search)">Search</button>
  </div>
  <div *ngIf="data" class="forecast">
    <div class="veryBigText">{{weatherData.city}}</div>
    <div text-center>
      <span class="veryBigText">
        <i class="wi {{weatherData.icon}}"></i>
      </span>
      <label class="bigText">{{weatherData.main}}</label>
    </div>
    <div class="mainText">{{weatherData.description}}</div>
    <div class="bigText">{{weatherData.temp}} °C</div>
  </div>
  <div class="forecast">
    <div class="forecastDayInformations" *ngFor="let forecastData of weatherForecastDatas; let i = index">
      <div class="bigText">{{forecastData.day}}</div>
      <ion-slides pager>
        <ion-slide *ngFor="let forecastDataDetails of weatherForecastDatasDetails[i]">
          <div text-center>
            <i class="wi {{forecastDataDetails.icon}}"></i>
          </div>
          <div class="mainText">{{forecastDataDetails.description}} / {{forecastDataDetails.temp}} °C</div>
          <div class="smallText">{{forecastDataDetails.time}}</div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div *ngIf="noData" class="forecast">
    <div class="mainText">Il n'y a aucune donnée disponible</div>
  </div>
</ion-content>
